#edit_mypage-container {
    max-width: 400px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;

}

#edit_mypage-container h1 {
    margin-bottom: 45px; /* 제목과 첫 번째 입력 항목 사이의 간격 */
}

/* 각 항목을 세로로 배치하고 왼쪽으로 정렬 */
.info-item {
    display: flex;               /* 플렉스 레이아웃을 적용 */
    flex-direction: column;      /* 항목들을 세로로 배치 */
    align-items: flex-start;     /* 항목들을 왼쪽에 붙임 */
    margin-bottom: 15px;         /* 항목 사이의 아래 여백 */
    padding: 3px;                /* 항목 내부 여백 */
}

/* 라벨 스타일 */
.info-item label {
    width: 100%;                 /* 라벨 너비 100%로 설정 */
    margin-bottom: 5px;          /* 라벨과 입력 필드 사이의 간격 */
    display: block;              /* 라벨을 블록 요소로 설정 */
    text-align: left;            /* 텍스트 왼쪽 정렬 */
}

/* 입력 필드 스타일 */
.info-item input, .info-item select {
    width: 230%;                 /* 입력창이 부모 요소의 가로 크기를 차지하게 설정 */
    padding: 5px 10px;           /* 입력창 내부 여백 */
    border-radius: 10px;         /* 부드러운 모서리 */
    height: 30px;                /* 입력 필드 높이를 줄임 */
    margin-left: 0; 
    background: linear-gradient(45deg, #e9e7e7, #e2dcdc);    
}         

/* 저장 버튼 스타일 */

button.btn#change {
    width: 320px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 8px;
    background: linear-gradient(45deg, #b2b2b4, #e0dee3);
    margin: 0 auto; /* 버튼을 부모 요소의 중앙으로 정렬 */
    display: block; /* 블록 요소로 설정 */
    margin: 20px auto 0;
}


/* 버튼 active 상태 스타일 */
button.btn#change:active {
    width: 320px; /* 너비를 유지 */
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background: linear-gradient(45deg, #b2b2b4, #e0dee3);
}


/* 입력창 및 버튼이 너무 커지지 않도록 최대 너비 설정 */
.info-item input, .info-item select, button.btn {
    max-width: 300px;    /* 최대 너비 200px로 설정 */
    margin: 0;           /* 중앙 정렬을 제거 */
    display: block;
}
